<!DOCTYPE html>
{% extends 'udtApp/base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Monitor Page</title>
</head>
{% block content %}
    <body>
    This is the monitoring page

    <p>Our portal uses Grafana!</p>


<!--    <iframe src="http://localhost:3000/dashboard/snapshot/hOLqmOGrMO8L2XlCXyKnwb6drTKddEEv"-->
<!--    width="1920" height="800"></iframe>-->

    <iframe src="http://localhost:3000/d/l8-g1tiHk/"
    width="1920" height="800"></iframe>

    </body>
{% endblock content %}
</html>
